= render "events/event_last_push", event: @last_push
= render 'shared/event_filter'

- if @events.any?
  .content_list
- else
  .nothing-here-block= t('.projects_activity_will_be_displayed_here')

= spinner
