.event_filter
  = event_filter_link EventFilter.push, t('.push_events')
  = event_filter_link EventFilter.merged, t('.merge_events')
  = event_filter_link EventFilter.comments, t('.comments')
  = event_filter_link EventFilter.team, t('.team')
