%p
  Hola #{@user['name']}!
%p
  - if Gitlab.config.gitlab.signup_enabled
    Su cuenta ha sido creada con éxito.
  - else
    El Administrador ha creado una cuenta para usted. Ahora eres miembro de la aplicación GitLab de la ADSIB.
%p
  nombre de usuario..............................
  %code= @user['email']

- if @user.created_by_id
  %p
    contraseña..........................................
    %code= @password

  %p
    Usted se verá obligado a cambiar esta contraseña inmediatamente después del inicio de sesión.

%p
  = link_to "Click aquí para iniciar sesión", root_url
